#chromeGoogleMapsSearchPopup {
    border: 0px;
    height: 90%;
    width: 100%;
    background: whitesmoke url("chrome-extension://opbdhbobfijppniehfkmckgdlamgeilf/assets/Spin-1s-200px.gif") no-repeat center center;
}

#mapViewContainer {
    border: 0px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#mapViewContainer a {
    font-size: smaller;
}

#chromeGoogleMapsSearchPopupContainer {
    z-index: 10000;
    box-shadow: 10px 10px 5px gray;
    border: 0px;
    border-radius: 10px;
    position: absolute;
    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#chromeGoogleMapsSearchPopupContainer a:link {
    color: #4066CF;
}

#chromeGoogleMapsSearchPopupContainer a:visited {
    color: #09007B;
}

#chromeGoogleMapsSearchPopupContainer button {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border: 0px;
    background-color: #007bff; 
    color: #fff;
    height: 20px;
}

@media (max-width: 700px) {
    #chromeGoogleMapsSearchPopupContainer {
        height: 320px;
        width: 300px;
    }
}

#chromeGoogleMapsDiv {
    background-color: whitesmoke;
}

#campaign_gmaps_api img{
    max-height: 100%;
    width: auto;
    /* flex: 1; */
}

#campaign_gmaps_api {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 30%;
    max-width: 90%;
}

#campaign_gmaps_api a {
    max-height: 100%; 
    width: auto;
    text-align: center;
    margin-bottom: 5px;
}

.hiddenDiv {
    visibility: hidden;
}

.visibleDiv {
    visibility: visible;
}

:root {
    --dim: 400px;
}