#chromeGoogleMapsSearchPopup {
    position: absolute;
    display: block;
    /* background-color: green; */
    margin: 20px;
    height: 300px;
    width: 300px;
    border: 0px;
    background: transparent url("chrome-extension://opbdhbobfijppniehfkmckgdlamgeilf/assets/Spin-1s-200px.gif") no-repeat top left;
}